.weather{
    place-self: center;
    padding: 40px;
    
    border-radius: 10px;
    background-image: linear-gradient(45deg, #2f4680, #500ae4);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}
.search-bar{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.search-bar input{
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    color: #626262;
    background: #ebfffc;
    font-size: 18px;
}

.search-bar img{
    width: 40px;
    padding: 9px;
    border-radius: 50%;
    background: #ebfffc;
    cursor: pointer;
    margin: 15px;
}
.weather-icon{
    width: 150px;
    margin: 30px 50px;

}
.temperature{
    color: #fff;
    font-size: 80px;
    line-height: 1;
    margin-top: 50px;
}
.location{
    color: #fff;
    font-size: 40px;
}
.weather-data{
    width: 300px;
    color: #fff;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.weather-data .col{
display: flex;
align-items: flex-start;
gap: 12px;
font-size: 22px;    
}
.weather-data .col{
    display: block;
    font-size: 16px;
}
.weather-data .col img{
width: 54px;
margin-top: 10px;
}
.statements{
    font-size: 28px;
}
.temps{
    font-size: 14px;
}